.ac_conteiner {
	BORDER-BOTTOM: #abadb3 1px solid; BORDER-LEFT: #abadb3 1px solid; HEIGHT: 20px; BORDER-TOP: #abadb3 1px solid; BORDER-RIGHT: #abadb3 1px solid
}
.ac_input {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 1px; TEXT-INDENT: 2px; MARGIN: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; FONT-FAMILY: sans-serif; FLOAT: left; HEIGHT: 16px; FONT-SIZE: 1em; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 1px
}
.ac_img {
	WIDTH: 18px; BACKGROUND: url(select.gif); FLOAT: right; HEIGHT: 20px; CURSOR: pointer
}
.ac_results {
	Z-INDEX: 10000; BORDER-BOTTOM: gray 1px solid; POSITION: absolute; BORDER-LEFT: gray 1px solid; PADDING-BOTTOM: 0px; OVERFLOW-X: hidden; OVERFLOW-Y: auto; BACKGROUND-COLOR: white; LIST-STYLE-TYPE: none; MARGIN: -1px 0px 0px -1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: none; HEIGHT: 100px; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid; PADDING-TOP: 0px
}
.ac_results DIV {
	PADDING-LEFT: 2px; FONT-FAMILY: sans-serif; WHITE-SPACE: nowrap; FONT-SIZE: 1em
}
.ac_over {
	BACKGROUND-COLOR: #3399ff; COLOR: #fff; CURSOR: pointer
}
.ac_match {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; TEXT-DECORATION: underline; PADDING-TOP: 0px
}
HTML:first-child .ac_results {
	OVERFLOW: auto
}
