   .cssAddGroups {
        background-image:url("../../Images/btn_AddGroupsFlows1.png");
        height: 20px;
        width: 90px;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        cursor:pointer;
        }
.cssCancelGroups {
           background-image:url("../../Images/btn_CancelGroupsFlows1.png");
        height: 20px;
        width: 90px;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        cursor:pointer;
}