A {
	COLOR: #223399; TEXT-DECORATION: none
}
A:visited {
	COLOR: #223399; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff5555; TEXT-DECORATION: underline
}
BODY {
	FONT-SIZE: 12px; BORDER-LEFT-COLOR: #999999; BACKGROUND-IMAGE: url(/Images/ttbar1.gif); BORDER-BOTTOM-COLOR: #999999; MARGIN: 0px; BORDER-TOP-COLOR: #999999; LINE-HEIGHT: 18px; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial,宋体,Arial,Sans-serif; BACKGROUND-COLOR: #f0e8d8; BORDER-RIGHT-COLOR: #999999
}
SELECT {
	FONT-SIZE: 12px
}
TEXTAREA {
	BORDER-RIGHT: #a0a0a0 1px solid; BORDER-TOP: #a0a0a0 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #a0a0a0 1px solid; BORDER-BOTTOM: #a0a0a0 1px solid; BACKGROUND-COLOR: transparent
}
.page1
{
	font-size: 12px;
	cursor: hand;
	color: #0000ff;
	text-decoration: underline;
}
.TextAlign
{
	text-align: center;
	BORDER-RIGHT: medium none; 
	BORDER-TOP: medium none; 
	FONT-SIZE: 12px; 
	BORDER-LEFT: medium none; 
	BORDER-BOTTOM: medium none; 
	BACKGROUND-COLOR: #d4e4d8
}
.TextRight
{
	text-align: right;
	BORDER-RIGHT: medium none; 
	BORDER-TOP: medium none; 
	FONT-SIZE: 12px; 
	BORDER-LEFT: medium none; 
	BORDER-BOTTOM: medium none; 
	BACKGROUND-COLOR: #d4e4d8
}
.linkbutton
{
	cursor: hand;
}
.noborder {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: transparent
}
.edbox {
	BORDER-RIGHT: #a0a0a0 1px solid; BORDER-TOP: #a0a0a0 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #a0a0a0 1px solid; BORDER-BOTTOM: #a0a0a0 1px solid; BACKGROUND-COLOR: transparent
}
.edline {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px; BORDER-LEFT: medium none; BORDER-BOTTOM: #a0a0a0 1px solid; BACKGROUND-COLOR: transparent
}
.inputQry {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: black 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; BORDER-LEFT: black 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: transparent
}
.activeVTab {
	BORDER-RIGHT: #777777 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #777777 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: #777777 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #d0d0d8
}
.vtabContent {
	BORDER-RIGHT: #777777 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #777777 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; BORDER-LEFT: #777777 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #f0f0f0
}
.normalVTab {
	BORDER-RIGHT: #777777 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #777777 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: #777777 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #e0e0e8
}
.ednone {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #d4e4d8
}
.inputNormal {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 1px; BORDER-TOP: medium none; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: medium none; PADDING-TOP: 1px; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: transparent
}
.bsInputText {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #f8f8f8
}
.edboxdisable {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #aaaaaa 1px solid; COLOR: #555555; BORDER-BOTTOM: #aaaaaa 1px solid; BACKGROUND-COLOR: transparent
}
.edlinedisable {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px; BORDER-LEFT: medium none; COLOR: #555555; BORDER-BOTTOM: #aaaaaa 1px solid; BACKGROUND-COLOR: transparent
}
.ednonedisable {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px; BORDER-LEFT: medium none; COLOR: #777777; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: transparent
}
.selectOff {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-LEFT: medium none; CURSOR: default; BORDER-BOTTOM: #aaaaaa 1px solid; BACKGROUND-COLOR: transparent
}
.selectOn {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-SIZE: 12px; Z-INDEX: 1; LEFT: -1000px; VISIBILITY: hidden; OVERFLOW: hidden; BORDER-LEFT: 1px solid; WIDTH: 0px; CURSOR: default; BORDER-BOTTOM: 1px solid; FONT-FAMILY: 宋体,Helvetica,Arial,Sans-Serif; POSITION: absolute; TOP: -1000px; BACKGROUND-COLOR: #f0f0f0
}
.selectItem {
	FONT-SIZE: 12px; WIDTH: 100%; LINE-HEIGHT: 16px
}
.tdsmall {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; LINE-HEIGHT: 16px
}
.td {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 0px
}
.tdWrap {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 0px;word-break:break-all;

}
.white {
	FONT-SIZE: 12px; COLOR: #eeeeee
}
.titlebar {
	PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 14px; WIDTH: 100%; COLOR: #403020; LINE-HEIGHT: 20px; PADDING-TOP: 5px; FONT-STYLE: normal; FONT-VARIANT: normal
}
.boxtitle {
	BORDER-RIGHT: #777777 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #777777 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; BORDER-LEFT: #777777 1px solid; COLOR: #eeeeee; PADDING-TOP: 1px; BORDER-BOTTOM: #777777 1px solid; BACKGROUND-COLOR: #486591; TEXT-ALIGN: center
}
.box {
	BORDER-RIGHT: #777777 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #777777 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; BORDER-LEFT: #777777 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #777777 1px solid; BACKGROUND-COLOR: #f0f0f0
}
.querybox {
	BORDER-RIGHT: #777777 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #777777 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #777777 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #777777 1px solid; BACKGROUND-COLOR: #f8f4e4
}
.queryPop {
	BORDER-RIGHT: #707070 2px solid; PADDING-RIGHT: 0px; BORDER-TOP: #777777 1px solid; DISPLAY: none; PADDING-LEFT: 0px; FONT-SIZE: 12px; LEFT: 0px; VISIBILITY: visible; PADDING-BOTTOM: 0px; BORDER-LEFT: #777777 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #707070 2px solid; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #f0f0f0
}
.rellink {
	BORDER-RIGHT: #486591 1px solid; BORDER-TOP: #486591 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #486591 1px solid; BORDER-BOTTOM: #486591 1px solid; BACKGROUND-COLOR: #e0e0e0
}
.outbox {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffff85
}
.outTd {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 14pt; BORDER-LEFT: #ffffff 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #cc9900
}
.tt2line {
	PADDING-RIGHT: 3px; BORDER-TOP: #a0a0a0 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; COLOR: #201000; LINE-HEIGHT: 20px; BORDER-BOTTOM: #a0a0a0 1px solid
}
.tt1line {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #302010; LINE-HEIGHT: 20px; BORDER-BOTTOM: #a0a0a0 1px solid
}
.ttTable {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #403020; LINE-HEIGHT: 20px
}
.button {
	FONT-SIZE: 12px; PADDING-TOP: 1px
}
.tabhead {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: bottom; COLOR: white; LINE-HEIGHT: 18px
}
.popwin {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; Z-INDEX: 10; VISIBILITY: hidden; BORDER-LEFT: black 1px solid; WIDTH: 300px; BORDER-BOTTOM: black 1px solid; POSITION: absolute; HEIGHT: 100px; BACKGROUND-COLOR: #f0f0f0
}
.hidden {
	VISIBILITY: hidden; POSITION: absolute
}
.curstep {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: darkblue; FONT-FAMILY: "黑体","宋体","Helvetica","Arial"
}
.activeTab {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 5px; BORDER-TOP: #777777 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: #777777 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #f0f0f0 1px solid; BACKGROUND-COLOR: #f0f0f0
}
.normalTab {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 5px; BORDER-TOP: #777777 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: #777777 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #777777 1px solid; BACKGROUND-COLOR: #d8c8a8
}
.lastTab {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 5px; BORDER-TOP: medium none; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: #777777 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #777777 1px solid
}
.tabContent {
	BORDER-RIGHT: #777777 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: medium none; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #777777 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #777777 1px solid; BACKGROUND-COLOR: #f0f0f0
}
.inputFocused {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: black 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: black 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: transparent
}
.inputDisabled {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 1px; BORDER-TOP: medium none; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: medium none; PADDING-TOP: 1px; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #d0d0d0
}
.bsInput {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #f8f8f8; TEXT-ALIGN: right
}
.btnBill {
	FONT-SIZE: 12px; WIDTH: 40px; HEIGHT: 20px
}
.tglight {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 0px; BACKGROUND-COLOR: #f8f4e4
}
.tgdark {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 0px; BACKGROUND-COLOR: #eff0e0
}
.excel
{
	display: none;
	visibility: visible;
}
.fixTitle 
{ 
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #403020; LINE-HEIGHT: 20px;
	POSITION: relative;  
	TOP: expression(this.offsetParent.scrollTop);
}

.fixedHeaderTr 
{ 
	POSITION: relative; 
	TOP: expression(this.offsetParent.scrollTop) ;
} 
.fixedBottom 
{ 
	POSITION: relative; 
	z-index: 19;
	TOP: expression(this.offsetParent.scrollTop) ;
} 

.mainDiv 
{
	 SCROLLBAR-FACE-COLOR: #9999ff; 
	 OVERFLOW: auto;
	 WIDTH: expression(document.body.clientWidth-20);
	 HEIGHT: expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20) : (document.body.clientHeight-this.offsetTop-20)) 
} 

.FixedTitleRow
{
     position: relative; 
     top: expression(this.offsetParent.scrollTop-2); 
     z-index: 10;
     HEIGHT: 16px;
     background-color: #E6ECF0;
}
		
 .FixedBottomRow
{
      position: relative; 
      top: expression(this.offsetParent.scrollTop+this.offsetParent.offsetHeight-this.offsetParent.scrollHeight); 
     
      HEIGHT: 16px;
      background-color: #E6ECF0;
}
 .FixedBottomRowMini
{
      position: relative; 
      background-color: #E6ECF0;
}
		
 .FixedBottomRow1
{
      position: relative; 
      top: expression(this.offsetParent.scrollTop+this.offsetParent.offsetHeight-this.offsetParent.scrollHeight); 
      z-index: 19;
      background-color: #E6ECF0;
}
        
.FixedTitleColumn
{
      position: relative; 
      left: expression(this.parentElement.offsetParent.scrollLeft);
}
        
.FixedDataColumn
{
      wwposition: relative;
      left: expression(this.parentElement.offsetParent.parentElement.scrollLeft);
      background-color: #E6ECF0;
}
