      span.spanTextDropdown{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 150px;
        height:200px;
        z-index: 101;
        background-color: #C0C0C0;
        border: 1px solid #000000;
        padding-left: 2px;
        overflow: auto;
        display: none;
      }

      span.spanMatchText{ text-decoration: underline;
        font-weight: bold; }
      span.spanNormalElement{ background: #C0C0C0; }
      span.spanHighElement{ background: #000040;
        color: white;
        cursor: pointer; }
      span.noMatchData{ font-weight: bold;
        color: #0000FF; }