<?xml version="1.0"?>
<configuration>
    <startup><supportedRuntime version="v2.0.50727"/></startup>
    <appSettings>
      <!--<add key="Main.ConnectionString" value="data source=GZS-SYSTEMDB01;initial catalog=DB_EcOfficeAutomation;UID=gzsystem;PWD=gzsoft!@#1029;connection timeout= 3600;"/>-->
      <add key="Main.ConnectionString" value="data source=GZS-SYSTEMDB02;initial catalog=DB_EcOfficeAutomation;UID=gzsystem;PWD=gzsoft!@#1029;connection timeout= 3600;"/>
      <!--<add key="Main.ConnectionString" value="data source=GZCXXGC28T;initial catalog=DB_EcOfficeAutomation;UID=sa;PWD=gzsoft!@#1029;connection timeout= 3600;"/>-->
      <add key="SMTP" value="10.3.1.111"/>
      <!--<add key="FromEmail" value="HHajxt@centaline.com.cn"/>-->
      <add key="FromEmail" value="EmailAlert@centaline.com.cn"/>
    </appSettings>
</configuration>