<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中 
-->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Main.ConnectionString" value="data source=GZS-SYSTEMDB02;initial catalog=DB_EcOfficeAutomation;UID=gzsystem;PWD=gzsoft!@#1029;Connect Timeout= 3600;"/>
    <!--<add key="Main.ConnectionString" value="data source=GZS-CRM02;initial catalog=DB_EcOfficeAutomation;UID=gzsystem;PWD=gzsoft!@#1029;Connect Timeout= 3600;"/>-->
    <!--<add key="Main.ConnectionString" value="data source=.;initial catalog=DB_EcOfficeAutomation;Connect Timeout= 3600;pooling=false;"/>-->
    <!--<add key="Main.ConnectionString" value="data source=GZS-SYSTEMDB02;initial catalog=DB_ECOA_BACK;UID=gzsystem;PWD=gzsoft!@#1029;Connect Timeout= 3600;"/>-->
    <!--<add key="Main.ConnectionString" value="data source=.;initial catalog=DB_EcOfficeAutomation;UID=sa;PWD=GZ..000;Connect Timeout= 3600;"/>-->
    <!--<add key="Main.ConnectionString" value="data source=GZCXXGC14T;initial catalog=DB_EcOfficeAutomation;UID=sa;PWD=Soul8526;Connect Timeout= 3600;"/>-->
    <!--<add key="Main.ConnectionString" value="data source=GZCXXGC40T;initial catalog=DB_EcOfficeAutomation;UID=user;PWD=123;Connect Timeout= 3600;"/>-->
    <add key="Main.ConnectionSecondOR" value="data source=10.3.1.7;initial catalog=c_c(ys);UID=GZIT;PWD=GZ..000;Connect Timeout= 3600;"/>
    <add key="Main.ConnectionString1" value="data source=GZS-SYSTEMDB02;initial catalog=DB_EcSystemPowerManage;UID=gzsystem;PWD=gzsoft!@#1029;Connect Timeout= 3600;"/>
    <add key="UploadPath" value="\\gzs-systemdb02\ECOA\"/>
    <!--<add key="UploadPath" value="http://gzs-systemdb02/ECOA/"/>-->
    <add key="SMTP" value="10.3.1.111"/>
    <add key="FromEmail" value="EmailAlert@centaline.com.cn"/>
    <!--为True时，表示正在测试，通知将发到TestEmail中去;False时，表示为正式网-->
    <add key="IsTesting" value="False"/>
    <!--<add key="IsTesting" value="True"/>-->
    <!--测试邮件收发-->
    <add key="TestEmail" value="chenym1@centaline.com.cn"/>
    <add key="LoginURL" value="http://gzs-terminal01:8003/Login.aspx"/>
    <add key="URL" value="http://gzs-terminal01:8003/"/>
    <add key="SignImageURL" value="http://gzs-terminal01/SignImage/"/>
    <add key="InternalURL" value="http://gzs-terminal01:8003"/>
    <add key="ExternalURL" value="http://ecoa.gzcentaline.com.cn"/>
    <!--ECOA附件路径-->
    <add key="EcoaFileURL" value="http://gzs-systemdb02/ECOA/"/>
    <!--页面临时保存文件-->
    <add key="TempSaveFilesURL" value="\\gzs-systemdb02\ECOA\TempSaveFiles\"/>
    <add key="UploadPDFPath" value="\\gzs-systemdb02\ECOA\PDF\"/>
    <!--20141020-->
    <!--<add key="MCOAWS.MCOAWS" value="http://wap.gzcentaline.com.cn/MCOA_MobileAppWS/MCOAWS.asmx"/>-->
    <!--IsTesting为False且IsPush表示为True时，将推送发送到测试工号TesterCode的绑定设备上-->
    <add key="TesterCode" value="38802"/>
    <add key="PushID" value="1b19df04-8145-448d-a00a-07888bf0002c"/>
    <add key="PushDelID" value="e2b0c8cb-f062-462c-9bd9-6d425642e1bd"/>
    <!--<add key="PushID" value="915d6122-1df0-4950-8701-58071d80506c"/>-->
    <!--IsPush为True时，发送推送，False则否-->
    <add key="IsPush" value="True"/>
    <add key="wsKDHR.Service" value="http://gzs-terminal01/HumanWS/Service.asmx"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages>
      <controls>
        <!--<add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET"/>-->
        <!--FCK: 20141125-->
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove path="*.asmx" verb="*"/>
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
      <!--<add verb="GET" path="FtbWebResource.axd" type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox" />-->
      <!--20141125-->
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="3000"/>
    <httpRuntime maxRequestLength="102400" executionTimeout="7200"/>
    <customErrors mode="Off"/>
    <!--<identity impersonate="true" userName="Administrator" password="GZcenta!@#789"/>>-->
    <!--<identity impersonate="true" userName="CENTALINE\wuzl" password="GZ..000"/>-->
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>